

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --dark-grey: #333;
    --lighter-grey: #b0aeae;
  }

h1 {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--dark-grey);
    margin-bottom: 2rem;
}

.group-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
}

.employee-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.employee-image, .modal-image {
    border-radius: 50%;
    height: 80%;
}

.employee-email, .city {
    color: var(--lighter-grey);
    font-size: 1rem;
}

.employee-card {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--lighter-grey);
    box-sizing: border-box;
}

.employee-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.employee-info > * {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 25%;
    top: 3rem;
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 1rem;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-info:first-of-type {
    border-bottom: 1px solid var(--lighter-grey);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal-close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.opaque {
    opacity: 0.5;
    background-color: #333;
}



@media (min-width: 768px) {
    .group-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.3rem;
    }

    .modal {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .group-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }

    .modal {
        width: 35%;
    }
}